<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Catalog</a>
            <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar-collapse-info">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="hidden-sm hidden-md hidden-lg">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-search">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-info">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">About</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-search">
            <ul class="hidden-sm hidden-md hidden-lg nav navbar-nav navbar-right margin-left margin-right">
                <li>
                    <input type="text" class="input-group form-control" placeholder="Product/Store Name">
                </li>
                <li>
                    <input type="text" class="input-group form-control" placeholder="Location">
                </li>
                <li>
                    <span class="input-group-btn">
                    <a class="btn btn-default btn-block input-group form-control">Search &nbsp;
                        <!--<i class="fa fa-search"></i>-->
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </span>
                </li>
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="hidden-xs col-sm-5">
                <input type="text" class="form-control" placeholder="Product/Store Name">
            </div>
            <div class="hidden-xs col-sm-5">
                <input type="text" class="form-control" placeholder="Location">
            </div>
            <div class="hidden-xs col-sm-2 margin-bottom">
                <span class="input-group-btn">
                    <a class="btn btn-default btn-block form-control">Search &nbsp;
                        <!--<i class="fa fa-search"></i>-->
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </span>
            </div>
        </div>
    </div>
</nav>

<div class="hidden-xs">
    <div class="blank-lines-60px"></div>
</div>

<div class="hidden-sm hidden-md hidden-lg">
    <div class="blank-lines-20px"></div>
</div>

<div class="container-fluid page-content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" href="#store">Store</a>

        </div>
        <div id="store" class="panel-body collapse">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#store-vfl">Views, Favourites, Likes</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#store-comments">Comments</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="store-vfl" class="tab-pane fade in active" align="center">
                    <ul class="list-group hidden-xs">
                        <li class="list-group-item">
                            <div class="container-fluid">
                                <div class="row bold">
                                    <div class="col-sm-4">
                                        Views
                                    </div>
                                    <div class="col-sm-4">
                                        Favourites
                                    </div>
                                    <div class="col-sm-4">
                                        Likes
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4">
                                        13
                                    </div>
                                    <div class="col-sm-4">
                                        5
                                    </div>
                                    <div class="col-sm-4">
                                        6
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4">
                                        23
                                    </div>
                                    <div class="col-sm-4">
                                        15
                                    </div>
                                    <div class="col-sm-4">
                                        19
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="list-group hidden-sm hidden-md hidden-lg">
                        <li class="list-group-item">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-6">
                                        Views
                                    </div>
                                    <div class="col-xs-6">
                                        182
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        Favorites
                                    </div>
                                    <div class="col-xs-6">
                                        72
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        Likes
                                    </div>
                                    <div class="col-xs-6">
                                        114
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="store-comments" class="tab-pane fade">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <textarea rows="3"
                                      class="form-control"
                                      placeholder="Write a comment..."></textarea>
                            <a class="btn btn-primary input-group form-control">
                                Post
                            </a>
                        </li>
                        <li class="list-group-item">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4">
                                        <p class="font-small bold">User 1 Name</p>
                                        <div class="thumbnail"></div>
                                    </div>
                                    <div class="col-xs-12 col-sm-8">
                                        <p class="font-small pull-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae facilisis mauris, feugiat efficitur ligula. Duis blandit fringilla orci, ac sagittis eros semper non.</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4">
                                        <p class="font-small bold">User 2 Name</p>
                                        <div class="thumbnail"></div>
                                    </div>
                                    <div class="col-xs-12 col-sm-8">
                                        <p class="font-small pull-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae facilisis mauris, feugiat efficitur ligula. Duis blandit fringilla orci, ac sagittis eros semper non.</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" href="#product">Products</a>
        </div>
        <div id="product" class="panel-body collapse">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#product-vfl">Views, Favourites, Likes</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#product-comments">Comments</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="product-vfl" class="tab-pane fade in active" align="center">
                    <ul class="list-group hidden-xs">
                        <li class="list-group-item">
                            <div class="container-fluid">
                                <div class="row bold">
                                    <div class="col-sm-3">
                                        Product Details
                                    </div>
                                    <div class="col-sm-3">
                                        Views
                                    </div>
                                    <div class="col-sm-3">
                                        Favourites
                                    </div>
                                    <div class="col-sm-3">
                                        Likes
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-3 bold">
                                        Product 1 asda adsas asdd ashas as adas da sadh asdhkdf f sdkfhsd fsd fjdkshfsd fsdj fhskdf sdf hksfsdf s
                                        <div class="thumbnail blank-lines-10px"></div>
                                    </div>
                                    <div class="col-sm-3">
                                        13
                                    </div>
                                    <div class="col-sm-3">
                                        5
                                    </div>
                                    <div class="col-sm-3">
                                        6
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-3 bold">
                                        Product 2
                                        <div class="thumbnail blank-lines-10px"></div>
                                    </div>
                                    <div class="col-sm-3">
                                        23
                                    </div>
                                    <div class="col-sm-3">
                                        15
                                    </div>
                                    <div class="col-sm-3">
                                        19
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="list-group hidden-sm hidden-md hidden-lg">
                        <li class="list-group-item">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12 bold">
                                        Product 1
                                    </div>
                                    <div class="col-xs-12 blank-lines-10px">
                                        <div class="thumbnail"></div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                Views
                                            </div>
                                            <div class="col-xs-6">
                                                182
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                Favourites
                                            </div>
                                            <div class="col-xs-6">
                                                41
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                Likes
                                            </div>
                                            <div class="col-xs-6">
                                                30
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12 bold">
                                        Product 2
                                    </div>
                                    <div class="col-xs-12 blank-lines-10px">
                                        <div class="thumbnail"></div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                Views
                                            </div>
                                            <div class="col-xs-6">
                                                12
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                Favourites
                                            </div>
                                            <div class="col-xs-6">
                                                4
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                Likes
                                            </div>
                                            <div class="col-xs-6">
                                                3
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="product-comments" class="tab-pane fade">
                    <ul class="list-group">
                        <li class="list-group-item hidden-xs">
                            <div class="container-fluid">
                                <div class="row bold">
                                    <div class="col-sm-3">
                                        Product Details
                                    </div>
                                    <div class="col-sm-9" align="center">
                                        Comments
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-3 pull-left" align="center">
                                                <p class="font-small bold">Product 1 Name</p>
                                                <div class="thumbnail"></div>
                                            </div>
                                            <div class="col-xs-12 col-sm-9 pull-right">
                                                <textarea rows="3"
                                                          class="form-control"
                                                          placeholder="Write a comment..."></textarea>
                                                <a class="btn btn-primary input-group form-control">
                                                    Post
                                                </a>
                                            </div>
                                            <div class="col-xs-12 col-sm-9 pull-right">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-4">
                                                            <p class="font-small bold">User 1 Name</p>
                                                            <div class="thumbnail"></div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-8">
                                                            <p class="font-small pull-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae facilisis mauris, feugiat efficitur ligula. Duis blandit fringilla orci, ac sagittis eros semper non.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-9 pull-right">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-4">
                                                            <p class="font-small bold">User 2 Name</p>
                                                            <div class="thumbnail"></div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-8">
                                                            <p class="font-small pull-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae facilisis mauris, feugiat efficitur ligula. Duis blandit fringilla orci, ac sagittis eros semper non.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-3 pull-left" align="center">
                                                <p class="font-small bold">Product 2 Name</p>
                                                <div class="thumbnail"></div>
                                            </div>
                                            <div class="col-xs-12 col-sm-9 pull-right">
                                                <textarea rows="3"
                                                          class="form-control"
                                                          placeholder="Write a comment..."></textarea>
                                                <a class="btn btn-primary input-group form-control">
                                                    Post
                                                </a>
                                            </div>
                                            <div class="col-xs-12 col-sm-9 pull-right">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-4">
                                                            <p class="font-small bold">User 3 Name</p>
                                                            <div class="thumbnail"></div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-8">
                                                            <p class="font-small pull-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae facilisis mauris, feugiat efficitur ligula. Duis blandit fringilla orci, ac sagittis eros semper non.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-9 pull-right">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-4">
                                                            <p class="font-small bold">User 4 Name</p>
                                                            <div class="thumbnail"></div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-8">
                                                            <p class="font-small pull-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae facilisis mauris, feugiat efficitur ligula. Duis blandit fringilla orci, ac sagittis eros semper non.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>