<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav pull-left">
            <li>
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </li>
        </ul>
        <p class="navbar-brand">Choose Widget</p>
    </div>
</nav>

<div class="container-fluid" id="full-list">
    <div class="list-group">
        <div class="list-group-item">
            <a ng-click="model.createNewHeader()">Header</a>
        </div>
        <div class="list-group-item">
            <a ng-click="model.createNewImage()">Image</a>
        </div>
        <div class="list-group-item">
            <a ng-click="model.createNewYoutube()">YouTube</a>
        </div>
        <div class="list-group-item">
            <a ng-click="model.createNewHtml()">HTML</a>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav pull-right">
            <li><a href="#/user/{{model.userId}}"><span class="glyphicon glyphicon-user"></span></a></li>
        </ul>
    </div>
</nav>
