<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-brand">Widget Edit</p>
        <ul class="nav navbar-nav navbar-right pull-right">
            <li>
                <a class="navbar-link">
                    <span ng-click="model.updateWidget(model.widget)" class="glyphicon glyphicon-ok"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container" id="widget-form">

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <div class="form-group">
        <label>Text</label>
        <input ng-model="model.widget.text" class="form-control"/>
    </div>

    <div class="form-group">
        <label>Rows</label>
        <input ng-model="model.widget.rows" class="form-control" type="number"/>
    </div>

    <div class="form-group">
        <label>Placeholder</label>
        <input ng-model="model.widget.placeholder" class="form-control"/>
    </div>

    <div class="form-group">
        <label>Formatted</label>
        <input ng-model="model.widget.formatted" type="checkbox"/>
    </div>

    <a ng-click="model.deleteWidget()" class="btn btn-danger">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right pull-right">
            <li><a href="#/user/{{model.userId}}"><span class="glyphicon glyphicon-user"></span></a></li>
        </ul>
    </div>
</nav>

