<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Catalog</a>
            <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar-collapse-info">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="hidden-sm hidden-md hidden-lg">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-search">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-info">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">About</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#"><i class="fa fa-sign-in"></i> Login</a></li>
                <li><a href="#"><i class="fa fa-user"></i> Register</a></li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-search">
            <ul class="hidden-sm hidden-md hidden-lg nav navbar-nav navbar-right margin-left margin-right">
                <li>
                    <input type="text" class="input-group form-control" placeholder="Product/Store Name">
                </li>
                <li>
                    <input type="text" class="input-group form-control" placeholder="Location">
                </li>
                <li>
                    <span class="input-group-btn">
                    <a class="btn btn-default btn-block input-group form-control">Search &nbsp;
                        <!--<i class="fa fa-search"></i>-->
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </span>
                </li>
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="hidden-xs col-sm-5">
                <input type="text" class="form-control" placeholder="Product/Store Name">
            </div>
            <div class="hidden-xs col-sm-5">
                <input type="text" class="form-control" placeholder="Location">
            </div>
            <div class="hidden-xs col-sm-2 margin-bottom">
                <span class="input-group-btn">
                    <a class="btn btn-default btn-block form-control">Search &nbsp;
                        <!--<i class="fa fa-search"></i>-->
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </span>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="panel-group row">
            <div class="col-xs-3">
                <div class="dropdown">
                    <a class="btn btn-default btn-block dropdown-toggle font-mobile-xx-small" type="button" data-toggle="dropdown">
                        Distance
                    </a>
                    <p class="dropdown-menu font-mobile-xx-small">
                        11111
                    </p>
                </div>
            </div>

            <div class="col-xs-3">
                <div class="dropdown">
                    <a class="btn btn-default btn-block dropdown-toggle font-mobile-xx-small" type="button" data-toggle="dropdown">
                        Sort By
                    </a>
                    <p class="dropdown-menu font-mobile-xx-small">
                        222222
                    </p>
                </div>
            </div>

            <div class="col-xs-3">
                <div class="dropdown">
                    <a class="btn btn-default btn-block dropdown-toggle font-mobile-xx-small" type="button" data-toggle="dropdown">
                        Price
                    </a>
                    <p class="dropdown-menu font-mobile-xx-small">
                        3333
                    </p>
                </div>
            </div>

            <div class="col-xs-3 col-sm-3">
                <div class="dropdown">
                    <a class="btn btn-default btn-block dropdown-toggle font-mobile-xx-small" type="button" data-toggle="dropdown">
                        Store
                    </a>
                    <p class="dropdown-menu font-mobile-xx-small">
                        4444
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="hidden-xs">
    <div class="blank-lines-100px"></div>
</div>

<div class="hidden-sm hidden-md hidden-lg">
    <div class="blank-lines-60px"></div>
</div>

<div class="container-fluid page-content">
    <div class="row">
        <div class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-6">
                                <p class="font-small bold">New Shoes</p>
                                <p class="font-small">$125</p>
                                <p class="font-x-small">Under Armour</p>
                                <p class="font-x-small">212 Hemenway Street</p>
                            </div>
                            <div class="col-xs-6">
                                <div class="thumbnail"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-6">
                                <p class="font-small bold">New Shoes</p>
                                <p class="font-small">$125</p>
                                <p class="font-x-small">Under Armour</p>
                                <p class="font-x-small">212 Hemenway Street</p>
                            </div>
                            <div class="col-xs-6">
                                <div class="thumbnail"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-6">
                                <p class="font-small bold">New Shoes</p>
                                <p class="font-small">$125</p>
                                <p class="font-x-small">Under Armour</p>
                                <p class="font-x-small">212 Hemenway Street</p>
                            </div>
                            <div class="col-xs-6">
                                <div class="thumbnail"></div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-sm-8 hidden-xs pull-right">
            <div id="google-map"></div>
        </div>
    </div>
</div>